:root {
  --orange: #ff6900;
  --red: #cf2e2e;
  --gray: #abb8c3;
  --blue: #0693e3;
  --black: #010101;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}
body {
  font-family: "Jost", sans-serif;
  background-color: var(--white);
}
/* Navbar */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  padding: 0;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  background-color: rgb(255, 255, 255, 0);
}
.navbar-logo {
  padding-top: 0.5rem;
}
nav a {
  font-weight: 400;
  color: var(--black);
  transition: 0.2s linear;
  margin: 0 0.7rem;
  font-size: 0.95rem;
}
nav a:hover {
  color: var(--red);
}
nav .navbar-nav a.active {
  color: var(--red);
}
.navbar-1 {
  display: flex;
  align-items: center;
}
.navbar-extra .login {
  background-color: #eef5fa;
  color: #0693e3;
  padding: 0.8rem 2.2rem;
  border-radius: 0.3rem;
}
.navbar-extra .job:hover,
.navbar-extra .login:hover {
  background-color: #969696;
  color: #fff;
}
.navbar-extra .job {
  background-color: #b91010;
  color: #fff;
  padding: 0.8rem 2.6rem;
  border-radius: 0.3rem;
}
/* Halaman About */
/* Hero Section */
.hero {
  display: flex;
  min-height: 100vh;
  align-items: center;
  background-image: linear-gradient(rgba(1, 1, 3, 0.4), rgb(255, 255, 255)),
    url("../img/akson-1K8pIbIrhkQ-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero .content h2 {
  color: #010101;
  font-size: 2.5rem;
  text-align: center;
  padding: 2rem 13rem;
  text-shadow: 3px 3px 10px rgba(1, 1, 3, 0.3);
}
/* Photos Section */
.photos {
  /* height: 70vh; */
  display: flex;
  justify-content: center;
}

.photos .card-photos {
  display: flex;
  position: relative;
  bottom: 8rem;
  flex-wrap: wrap;
  margin: 0 4rem;
  padding: 2rem 2rem;
  justify-content: center;
  background-color: var(--white);
  box-shadow: 3px 3px 10px rgba(1, 1, 3, 0.3);
  border-radius: 2rem;
}
.photos .card-photos img {
  position: relative;
  width: 250px;
  height: 170px;
  margin: 2rem 0.5rem 2rem;
  object-fit: cover;
  border-radius: 0.5rem;
  background-position: center;
  opacity: 1;
}
.photos .card-photos img:hover {
  opacity: 0.7;
}
/* Count Section */
.count {
  margin-top: 1rem;
}
.count-1 {
  padding: 2rem 7%;
  text-align: center;
}
.count-1 h2 {
  font-size: 2.3rem;
}
.count-1 span {
  color: var(--orange);
}
.count-2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3rem;
}
.count-2 h3 {
  font-size: 3rem;
  color: var(--orange);
}
.count-2 .element {
  margin: 2rem 4rem;
  text-align: center;
}
.circle-1 {
  display: flex;
  position: relative;
  justify-content: flex-end;
  bottom: 120px;
}

.circle-1 img {
  width: 600px;
  object-fit: cover;
  z-index: -2;
}
/* About SabiKerja Section*/
.about-us {
  z-index: -2;
  height: 30vh;
}
.about-us .content {
  bottom: 530px;
  position: relative;
  padding: 4rem 10% 4.2rem;
}
.about-us .content .card-about {
  padding: 4rem 10% 6rem;
  border-radius: 30px;
  background-image: linear-gradient(
    -60deg,
    rgba(1, 1, 3, 0),
    rgb(255, 229, 211, 0.3)
  );
  box-shadow: 3px 3px 10px rgba(1, 1, 3, 0.3);
}
.about-us .content h2 {
  text-align: center;
  font-size: 3rem;
}
.about-us .content h2 span {
  color: var(--orange);
}
.about-us .content p {
  color: #121212;
  margin-top: 2rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.7;
  text-align: justify;
}
.about-us .content p span {
  font-weight: 500;
  color: var(--orange);
}
/* Solve Section */
.solve {
  margin-top: 4rem;
}
.solve h2,
.service h2 {
  text-align: center;
  font-size: 2.3rem;
}
.solve h2 span,
.service h2 span {
  color: var(--orange);
}
.solve .solve-content {
  padding: 2rem 5%;
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
  position: relative;
}
.solve .solve-img {
  margin-top: 2rem;
  flex: 1 1 45rem;
}
.solve .solve-img img.img-1 {
  height: 300px;
  width: 300px;
  object-fit: cover;
  object-position: left;
}
.solve .solve-img img.img-2 {
  position: absolute;
  left: 23%;
  top: 28%;
  outline: 12px solid #fff;
  height: 300px;
  width: 300px;
  object-fit: cover;
}
.solve .line {
  height: 450px;
  width: 3.5px;
  border-radius: 5px;
  background-color: #ff6900;
}
.solve .element {
  flex: 1 1 45rem;
  margin-top: 2.5rem;
  justify-content: center;
}
.solve .element .card {
  text-align: center;
  display: flex;
  width: 100%;
  margin: 1.5rem;
  padding: 0rem 3%;
}

.solve .element .icon .icon-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 90px;
  height: 90px;
  background-color: #ffe5d3;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(1, 1, 3, 0.3);
}
.solve .element .icon .icon-img img {
  width: 55px;
}
.solve .element .icon .icon-img-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 90px;
  height: 90px;
  background-color: #ffe5d3;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(1, 1, 3, 0.3);
}
.solve .element .icon .icon-img-1 img {
  width: 35px;
}
.solve .element .card-solve {
  height: 90px;
  padding: 0.5rem;
  margin-left: 1.5rem;
  border-radius: 10px;
  background-image: linear-gradient(
    -70deg,
    rgb(255, 229, 211, 0.6),
    rgb(1, 1, 3, 0)
  );
  box-shadow: 3px 3px 10px rgba(1, 1, 3, 0.3);
}
.solve .element .card-solve h3 {
  font-weight: 600;
}
.solve .element .card-solve p {
  font-weight: 300;
  padding: 0 5%;
}
/* Service */
.service {
  margin-top: 4rem;
  background-image: linear-gradient(rgb(255, 229, 211, 1), rgb(1, 1, 3, 0));
  height: 100vh;
  padding: 2rem 7%;
}
.service h2 {
  margin-top: 1rem;
  font-size: 3rem;
}
.service .element {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
.service .element .card {
  width: 500px;
  border-radius: 15px;
  margin: 2rem;
  padding: 2rem 5%;
  background-color: #fff;
  box-shadow: 3px 3px 10px rgba(1, 1, 3, 0.3);
}
.service .element .card h3 {
  font-size: 1.8rem;
  text-align: center;
  margin-top: 1rem;
}
.service .element .card h3 span {
  color: var(--orange);
}
.service .element .card ol {
  margin-top: 1rem;
  margin-left: 2rem;
}
.service .element .card ol li {
  font-size: 1.2rem;
  color: #121212;
}
.service .element .card p {
  text-align: right;
  font-weight: 400;
  margin-top: 1rem;
  font-size: 0.7rem;
  font-style: italic;
}
/* Testimonial Section */
.testi {
  margin-top: 2rem;
}
.testi h2 {
  text-align: center;
  font-size: 2.5rem;
}
.testi h2 span {
  color: var(--orange);
}
.testi .card {
  text-align: center;
  background-image: linear-gradient(
    30deg,
    rgb(255, 229, 211, 1),
    rgb(1, 1, 3, 0)
  );
  box-shadow: 3px 3px 10px rgba(1, 1, 3, 0.3);
  margin: 2rem 15%;
  margin-top: 8rem;
  padding: 2rem 5% 5rem;
  border-radius: 2rem;
}
.card .card-img {
  height: 4.5rem;
}
.testi .card h4 {
  font-weight: 600;
  font-size: 1.2rem;
}
.testi .card h3 {
  font-size: 1.7rem;
  margin-top: 1rem;
  font-style: italic;
  color: var(--orange);
}
.testi .card p {
  font-style: italic;
  margin: 0.5rem 1rem;
  font-size: 1.1rem;
}

.card .card-img img {
  position: relative;
  bottom: 130px;
  width: 180px;
  border-radius: 50%;
  outline: 10px solid #fff;
  box-shadow: 10px 10px 10px rgba(1, 1, 3, 0.3);
}
/* Ending Section */
.end {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  background-image: url("../img/DreamJob2.png");
  height: 70vh;
}
.end .content {
  text-align: center;
}
.end .content h3 {
  font-size: 2.5rem;
}
.end .content p {
  color: #121212;
  font-size: 1.2rem;
}
.end .content .btn {
  margin: 2rem;
}
.end .content .btn a.btn-1 {
  color: #b91010;
  background-color: #fff;
  padding: 0.8rem 3rem;
  border-radius: 0.3rem;
}
.end .content .btn a.btn-1:hover {
  color: #fff;
  background-color: #abb8c3;
}
.end .content .btn a.btn-2 {
  background-color: #b91010;
  color: #fff;
  padding: 0.8rem 2rem;
  border-radius: 0.3rem;
}
.end .content .btn a.btn-2:hover {
  color: #fff;
  background-color: #abb8c3;
}
/* Footer Section */
footer {
  display: flex;
  padding: 4rem 3% 6rem;
}
footer img {
  width: 10rem;
}
footer .element-1 {
  width: 35%;
  padding-right: 2rem;
}
footer .element-1 h3 {
  margin: 0.5rem 0;
  color: #393939;
  font-weight: 500;
  font-size: 1.2rem;
}
footer .element-1 h4 {
  color: #ff6900;
  font-weight: 600;
  font-size: 1.1rem;
}
footer .element-1 p {
  line-height: 2.5;
  font-size: 0.9rem;
  padding-right: 5rem;
  display: block;
  font-weight: 400;
  color: #969696;
}
footer .element {
  width: 17%;
  line-height: 2.5;
}
footer .element h3 {
  margin: 1rem 0;
  color: #393939;
  font-weight: 500;
  font-size: 1.2rem;
}
footer .element-a {
  display: flex;
  align-items: center;
  position: relative;
}
footer .element-a a {
  font-size: 0.9rem;
  display: block;
  font-weight: 400;
  color: #969696;
  transition: all 0.4s;
}
footer .element-a span {
  width: 15px;
  height: 2.4px;
  margin-right: 8px;
  border-radius: 2px;
  background-color: #bdbdbd;
  transform: scaleX(0);
  transform-origin: 0;
  position: absolute;
  transition: all 0.4s;
}
footer .element-a:hover a {
  color: #0693e3;
  transform: translateX(20px);
}
footer .element-a:hover span {
  background-color: #0693e3;
  transform: scaleX(1);
}
footer .element-a.active a {
  color: #0693e3;
  transform: translateX(20px);
}
footer .element-a.active span {
  background-color: #0693e3;
  transform: scaleX(1);
}

footer .element-sosmed {
  display: flex;
  flex-wrap: wrap;
}
footer .element-sosmed img {
  width: 1.5rem;
}
footer .element-sosmed .sosmed-li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  background-color: #0693e3;
}
footer .element-sosmed .sosmed-ig {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  background-color: #121212;
}
footer .element-sosmed .sosmed-wa {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  background-color: #25d366;
}
footer .element-sosmed .sosmed-fb {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  background-color: #3b5998;
}
/* Halaman Contact */
/* Hero Section */
.hero-contact {
  display: flex;
  min-height: 80vh;
  align-items: center;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgb(1, 1, 3, 0.7)),
    url("../img/tyler-franta-iusJ25iYu1c-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-contact .content {
  width: 50%;
  justify-content: center;
  align-items: center;
}
.hero-contact .content h2 {
  color: var(--orange);
  font-size: 2.8rem;
  font-weight: 600;
  padding: 1rem 7%;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}
.hero-contact .content p {
  padding: 2px 7%;
  font-size: 1.3rem;
  font-weight: 400;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}
/* Contact Sosmed Section */
.contact-sosmed {
  width: 100%;
}
.contact-sosmed h2 {
  text-align: center;
  margin: 2rem;
  font-size: 2rem;
  font-weight: 500;
}
.contact-sosmed h2 span {
  color: #ff6900;
}
.contact-sosmed .element {
  display: flex;
  margin: 2rem auto;
  width: 70%;
  justify-content: space-around;
}
.contact-sosmed .element .card {
  height: 280px;
  width: 270px;
  padding: 1rem;
  text-align: center;
  background-color: #fff;
  box-shadow: 3px 3px 10px rgba(1, 1, 3, 0.5);
}
.contact-sosmed .element .card img {
  height: 32px;
  margin-top: 1rem;
}
.contact-sosmed .element .card h3 {
  margin-top: 2rem;
  font-weight: 600;
}
.contact-sosmed .element .card p {
  color: #393939;
  margin-top: 1rem;
  font-size: 0.9rem;
}
.contact-sosmed .element-sosmed {
  display: flex;
  margin: 2rem auto;
  width: 20%;
  justify-content: space-around;
  flex-wrap: wrap;
}
.contact-sosmed .element-sosmed a {
  cursor: pointer;
}
.contact-sosmed .element-sosmed img {
  width: 1.5rem;
}
.contact-sosmed .element-sosmed .sosmed-li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  background-color: #ff6900;
}
.contact-sosmed .element-sosmed .sosmed-ig {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  background-color: #ff6900;
}
.contact-sosmed .element-sosmed .sosmed-wa {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  background-color: #ff6900;
}
.contact-sosmed .element-sosmed .sosmed-fb {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  background-color: #ff6900;
}
/* Contact Section */
.contact {
  display: flex;
  justify-content: center;
  background-color: #ffe5d3;
}
.contact .card {
  margin: 2rem 3rem;
  z-index: 4;
  width: 70%;
  background-color: #fff;
  box-shadow: 3px 3px 10px rgb(1, 1, 3, 0.3);
  padding: 3rem;
}
.contact .card h3 {
  margin-bottom: 2rem;
  font-weight: 500;
}

.contact .container-1 {
  display: flex;
  width: 100%;
}
.contact .container-1 .form-1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}
.contact .container-1 .form-1 input {
  background-color: #f0f5f7;
  padding: 1rem;
  border-radius: 7px;
  font-family: "Jost", sans-serif;
  font-size: 0.9rem;
  width: 100%;
}
.contact .container-1 .form-1-1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}
.contact .container-1 .form-1-1 input {
  background-color: #f0f5f7;
  padding: 1rem;
  border-radius: 7px;
  font-family: "Jost", sans-serif;
  font-size: 0.9rem;
  width: 100%;
}

.contact input {
  border: 2px solid transparent;
}
.contact input:focus {
  border: 2px solid #0693e3;
  background-color: #ffffff;
}
.contact textarea {
  border: 2px solid transparent;
}
.contact textarea:focus {
  border: 2px solid #0693e3;
  background-color: #fff;
}
.contact .container-2 {
  width: 100%;
}
.contact .container-2 .form-2 {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.contact .container-2 .form-2 span {
  margin: 1rem 0 0;
}
.contact .container-2 .form-2 input {
  background-color: #f0f5f7;
  margin: 0;
  padding: 1rem;
  font-family: "Jost", sans-serif;
  font-size: 0.9rem;
  border-radius: 7px;
  width: auto;
}
.contact .container-2 .form-2 textarea {
  background-color: #f0f5f7;
  margin: 0;
  font-family: "Jost", sans-serif;
  font-size: 0.9rem;
  padding: 1rem;
  resize: none;
  border-radius: 7px;
  width: auto;
}
.contact button {
  margin-top: 2rem;
  border-radius: 10px;
  color: #fff;
  font-size: 0.9rem;
  background-color: #0693e3;
  padding: 1rem 7rem;
  cursor: pointer;
}
/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 100%;
  }
}
/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 75%;
  }
  .hero .content h2 {
    padding: 2rem 7%;
  }
  .count-2 {
    display: block;
  }
  .circle-1 {
    top: 410vh;
  }
}
/* Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
  .circle-1 {
    top: 335vh;
  }
}
